spring:
  application:
    name: Resource Server
  security:
    oauth2:
      resourceserver:
        jwt:
          #issuer-uri: http://localhost:8081/realms/oauth-learning
          jwk-set-uri: http://localhost:8081/realms/oauth-learning/protocol/openid-connect/certs

server:
  port: 8080
  servlet:
    context-path: /oauth

application:
  version: 0.0.1-SNAPSHOT

javamelody:
  # Enable JavaMelody auto-configuration (optional, default: true)
  enabled: true
  # Data source names to exclude from monitoring (optional, comma-separated)
  excluded-datasources: secretSource,topSecretSource
  # Enable monitoring of Spring services and controllers (optional, default: true)
  spring-monitoring-enabled: true
  # Initialization parameters for JavaMelody (optional)
  # See: https://github.com/javamelody/javamelody/wiki/UserGuide#6-optional-parameters
  init-parameters:
    # log http requests:
    log: true
    # to exclude images, css, fonts and js urls from the monitoring:
    #url-exclude-pattern: (/webjars/.*|/css/.*|/images/.*|/fonts/.*|/js/.*)
    # to aggregate digits in http requests:
    #http-transform-pattern: \d+
    # to add basic auth:
    #authorized-users: admin:pwd
    # to change the default storage directory:
    #storage-directory: /tmp/javamelody
    # to change the default "/monitoring" path:
    monitoring-path: /admin/performance